{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h2>Buy</h2>
    <!-- Create form for user to input symbol and # of shares to buy-->
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" autocomplete="off" type="text" name="symbol" id="symbol" placeholder="Symbol">
        </div>
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" autocomplete="off" type="number" name="shares" id="shares" placeholder="Shares">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
