{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <body>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.total_shares }}</td>
                    <td>{{ transaction.price|usd }}</td>
                    <td>{{ (transaction.price * transaction.total_shares)|usd }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3" align="right">Cash</td>
                <td>{{ cash|usd }}</td>
            </tr>
            <tr>
                <td colspan="3" align="right">Total Value</td>
                <td>{{ total_value|usd }}</td>
            </tr>

        </body>

    </table>

{% endblock %}
